<!DOCTYPE html>
<html>
  <head>
    <title>Tech Level</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar fixed-top">
        <a class="navbar-brand" href="#"><%= title %></a>
    </nav>
      <div class="main_container">

    <% for(let i = 0; i < developers.length; i++) {%>

        <div class="media">

          <div class="media-body">
            
            <img class="align-self-start mr-3" src="./images/<%= developers[i].gender %>.svg" alt="picto gender">
            
            <div class="data_container">
              <div class="name_container">
                <p class="lastname"><%= developers[i].lastname %></p>
                <p><%= developers[i].firstname %></p>
              </div>

              <div class="badge_container">
                <% for(let y = 0; y < developers[i].skills.length; y++) { %>
                  <a href="#" class="badge badge-pill badge-dark"><%= developers[i].skills[y] %></a>

               <% } %>
                </div>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= developers[i].notation %>%;" aria-valuenow="<%= developers[i].notation %>" aria-valuemin="0" aria-valuemax="100"><%= developers[i].notation %>%</div>
          </div>
        </div>    
        <%}%>
  </div>
  
  </body>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
